.Select {
    position: relative;
}

.Select,
.Select div,
.Select input,
.Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Select.is-disabled > .Select-control {
    background-color: #f9f9f9;
}

.Select.is-disabled > .Select-control:hover {
    box-shadow: none;
}

.Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none;
}

.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.is-open > .Select-control {
    cursor: text;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.is-open > .Select-control > .Select-arrow {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px;
}

.is-searchable.is-focused:not(.is-open) > .Select-control {
    cursor: text;
}

.Select-placeholder,
:not(.Select--multi) > .Select-control .Select-value {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.has-value:not(.Select--multi) > .Select-control > .Select-value .Select-value-label,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value .Select-value-label {
    color: #333;
}

.has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label {
    cursor: pointer;
    text-decoration: none;
}

.has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:hover,
.has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:focus {
    color: #007eff;
    outline: none;
    text-decoration: underline;
}

.Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.Select-input > input {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    height: 34px;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
}

.is-focused .Select-input > input {
    cursor: text;
}

.has-value.is-pseudo-focused .Select-input {
    opacity: 0;
}

.Select-control:not(.is-searchable) > .Select-input {
    outline: none;
}

.Select-loading-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 16px;
}

.Select-loading {
    -webkit-animation: Select-animation-spin 400ms infinite linear;
    -o-animation: Select-animation-spin 400ms infinite linear;
    animation: Select-animation-spin 400ms infinite linear;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-right-color: #333;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn 200ms;
    -o-animation: Select-animation-fadeIn 200ms;
    animation: Select-animation-fadeIn 200ms;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 17px;
}

.Select-clear-zone:hover {
    color: #D0021B;
}

.Select-clear {
    display: inline-block;
    font-size: 18px;
}

.Select--multi .Select-clear-zone {
    width: 17px;
}

.Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    padding-right: 5px;
}

.Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
}

.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
    border-top-color: #666;
}

@-webkit-keyframes Select-animation-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Select-animation-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Select-menu-outer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 99%;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    margin-left: 1px;
}

.Select-menu {
    max-height: 198px;
    overflow-y: auto;
}

.Select-option {
    box-sizing: border-box;
    background-color: #fff;
    color: #666666;
    cursor: pointer;
    display: block;
    padding: 8px 8px 8px 10px;
    font-size: 12px;
}

.Select-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.Select-option.is-focused {
    background-color: #eee;
    color: #333;
}

.Select-option.is-disabled {
    color: #cccccc;
    cursor: default;
}

.Select-noresults {
    box-sizing: border-box;
    color: #999999;
    cursor: default;
    display: none;
    padding: 8px 10px;
}

@keyframes Select-animation-spin {
    to {
        transform: rotate(1turn);
    }
}

@-webkit-keyframes Select-animation-spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}

.page-body,
.page-footer,
.page-header {
    padding: 30px 0;
}

.page-header {
    background-color: #007eff;
    color: #bfdfff;
}

.page-header h1,
.page-header h2,
.page-header h3 {
    color: white;
}

.page-header p {
    font-size: 1.2em;
    margin: 0;
}

.page-header a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    text-decoration: none;
}

.page-header a:hover,
.page-header a:focus {
    border-bottom-color: white;
    outline: none;
    text-decoration: none;
}

.page-subheader {
    background-color: #e6f2ff;
    line-height: 20px;
    padding: 30px 0;
}

.page-subheader__button {
    float: right;
}

.page-subheader__link {
    border-bottom: 1px solid rgba(0, 126, 255, 0.3);
    outline: none;
    text-decoration: none;
}

.page-subheader__link:hover,
.page-subheader__link:focus {
    border-bottom-color: #007eff;
    outline: none;
    text-decoration: none;
}

.page-footer {
    background-color: #fafafa;
    color: #999;
    padding: 30px 0;
    text-align: center;
}

.page-footer a {
    color: black;
}

@media (min-width: 480px) {
    .page-body,
    .page-header {
        padding: 60px 0;
    }
    .page-header {
        font-size: 1.4em;
    }
    .page-subheader {
        font-size: 1.125em;
        line-height: 28px;
    }
}

.checkbox-list {
    margin-top: .5em;
    overflow: hidden;
}

.checkbox-list > .checkbox {
    clear: left;
    float: left;
    margin-top: .5em;
}

.checkbox-control {
    margin-right: .5em;
    position: relative;
    top: -1px;
}

.switcher {
    color: #999;
    cursor: default;
    font-size: 12px;
    margin: 10px 0;
    text-transform: uppercase;
}

.switcher .link {
    color: #007eff;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.switcher .link:hover {
    text-decoration: underline;
}

.switcher .active {
    color: #666;
    font-weight: bold;
    margin-left: 10px;
}

.section {
    margin-bottom: 40px;
}

.hint {
    font-size: .85em;
    margin: 15px 0;
    color: #666;
}

.label-invisible {
    display: none;
}
